@using mitoSoft.Razor.DailyTimers.Components.Converters

<div class="input-group mb-3">
    <button class="btn btn-primary btn-block" @onclick="@(e => SelectClicked(e))">
        @($"{this.Timer.Name} ({this.Timer.Active.ToText()})")
        <br />
        @GetChannelText()
    </button>
    <button class="btn btn-secondary overlay" type="button" @onclick="@(e => RemoveClicked(e))">&times;</button>
</div>

<EditDailyTimerModal @ref="_editTimer" OnTimerUpdated="@UpdatedRaised"></EditDailyTimerModal>

@code {

    private EditDailyTimerModal _editTimer;

    [Parameter]
    public Action<MouseEventArgs, IDailyTimer> OnTimerSelected { get; set; }

    [Parameter]
    public Action<MouseEventArgs, IDailyTimer> OnTimerRemoved { get; set; }

    [Parameter]
    public Action<MouseEventArgs, IDailyTimer> OnTimerUpdated { get; set; }

    [Parameter]
    public IDailyTimer Timer { get; set; }

    [Parameter]
    public bool ShowEditor { get; set; }

    public void SelectClicked(MouseEventArgs e)
    {
        if (this.ShowEditor)
        {
            _editTimer.Show(this.Timer);
        }

        OnTimerSelected?.Invoke(e, this.Timer);
    }

    public void RemoveClicked(MouseEventArgs e)
    {
        OnTimerRemoved?.Invoke(e, this.Timer);
    }

    public void UpdatedRaised(MouseEventArgs e, IDailyTimer channel)
    {
        OnTimerUpdated?.Invoke(e, channel);
    }

    private string GetChannelText()
    {
        string desc = "";
        if (!string.IsNullOrEmpty(this.Timer.Description))
        {
            desc = this.Timer.Description + ": ";
        }
        return desc + this.Timer.GetAbbreviationText() + " - " + this.Timer.SwitchTime;
    }
}