@using mitoSoft.DailyTimers.Razor.Components.Helpers
@*http://blog.ppedv.de/post/Boostrap-Modal-Dialog-fur-Blazor*@

@if (_show)
{
    <div class="modal fade show" id="myModal" style="display: block;">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>@_clone.Name</h4>
                    <button type="button" class="close" data-dismiss="modal" @onclick="@CloseClicked">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="row mb-1 ml-1">
                        <label class="lead">@($"{Properties.Resources.Description}:")</label>
                    </div>

                    <div class="row mb-1 ml-1 mr-1">
                        <input class="lead form-control" placeholder="@Properties.Resources.Description" type="text" @bind="@_clone.Description">
                    </div>

                    <br />

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckActive" @bind="@_clone.Active">
                            <label class="custom-control-label lead" for="customCheckActive">@Properties.Resources.Active</label>
                        </div>
                    </div>

                    <br />

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckMo" @bind="@_clone.Monday">
                            <label class="custom-control-label lead" for="customCheckMo">@(DayNameHelper.ToDayName(1))</label>
                        </div>
                    </div>

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckDi" @bind="@_clone.Tuesday">
                            <label class="custom-control-label lead" for="customCheckDi">@(DayNameHelper.ToDayName(2))</label>
                        </div>
                    </div>

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckMi" @bind="@_clone.Wednesday">
                            <label class="custom-control-label lead" for="customCheckMi">@(DayNameHelper.ToDayName(3))</label>
                        </div>
                    </div>

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckDo" @bind="@_clone.Thursday">
                            <label class="custom-control-label lead" for="customCheckDo">@(DayNameHelper.ToDayName(4))</label>
                        </div>
                    </div>

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckFr" @bind="@_clone.Friday">
                            <label class="custom-control-label lead" for="customCheckFr">@(DayNameHelper.ToDayName(5))</label>
                        </div>
                    </div>

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckSa" @bind="@_clone.Saturday">
                            <label class="custom-control-label lead" for="customCheckSa">@(DayNameHelper.ToDayName(6))</label>
                        </div>
                    </div>

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckSo" @bind="@_clone.Sunday">
                            <label class="custom-control-label lead" for="customCheckSo">@(DayNameHelper.ToDayName(0))</label>
                        </div>
                    </div>

                    <div class="row mb-1 ml-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckHolidays" @bind="@_clone.IgnoreOnHolidays">
                            <label class="custom-control-label lead" for="customCheckHolidays">@Properties.Resources.NoHolidays</label>
                        </div>
                    </div>

                    <br />

                    <div class="row mb-1 ml-1">
                        <label class="lead">Zeit:</label>
                        &nbsp;
                        <div class="form-group">
                            <select class="custom-select" @bind="@_hours">
                                @for (int i = 0; i < 24; i++)
                                {
                                    <option>@i.ToString().PadLeft(2, '0')</option>
                                }
                            </select>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <select class="custom-select" @bind="@_minutes">
                                @for (int i = 0; i < 60; i = i + 5)
                                {
                                    <option>@i.ToString().PadLeft(2, '0')</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="@ChannelUpdated">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@CloseClicked">@Properties.Resources.Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    private bool _show;
    public IDailyTimer _clone;
    public string _minutes;
    public string _hours;

    [Parameter]
    public Action<MouseEventArgs, IDailyTimer> OnTimerUpdated { get; set; }

    public IDailyTimer Timer { get; set; }

    public void Show(IDailyTimer timer)
    {
        this.Timer = timer;
        this._clone = (IDailyTimer)this.Timer.Clone();
        this._minutes = this._clone.GetDisplayMinute();
        this._hours = this._clone.GetDisplayHour();
        _show = true;
        InvokeAsync(StateHasChanged);
    }

    public void Close()
    {
        _show = false;
        InvokeAsync(StateHasChanged);
    }

    private void ChannelUpdated(MouseEventArgs e)
    {
        this.Close();

        this._clone.CopyTo(this.Timer);
        this.Timer.SwitchTime = $"{this._hours}:{ this._minutes}";

        OnTimerUpdated?.Invoke(e, this.Timer);
    }

    private void CloseClicked(MouseEventArgs e)
    {
        this.Close();
    }
}